.form-full-width {
    width: 100%;
  }

  .user-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .main-card{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }