<mat-card class="main-card">

  <mat-card-content>
    <div class="form-container">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)" class="user-form">
        <mat-form-field class="form-full-width">
          <input placeholder="steamID 64 / customURL " matInput formControlName="userid" />
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button type="submit">Submit</button>
        </mat-card-actions>
      </form>
    </div>

    
    <form *ngIf="friends != undefined" [formGroup]="friendForm" (ngSubmit)="onSubmitFriend(friendForm.value)" class="friend-form">

      <div  gdGap="10px" gdColumns="repeat(auto-fill, minmax(200px, 1fr))">
        <mat-card *ngFor="let friend of friends">
          <mat-card-header fxLayoutAlign="center">
            <mat-card-title>{{friend.personaname}}</mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayoutAlign="center">
            <a target="_blank" rel="noopener noreferrer" href="{{friend.profileurl}}">
              <img mat-card-image src="{{friend.avatarfull}}" alt="Game image">
            </a>
            <p></p>
          </mat-card-content>
          <mat-card-actions>
              <mat-checkbox (change)="onCheckChange($event)" value="{{friend.steamid}}" fxLayoutAlign="right"></mat-checkbox>
          </mat-card-actions>
        </mat-card>
      </div>
      <button mat-raised-button type="submit">Submit</button>

    </form>

  </mat-card-content>
</mat-card>
