.gameImage {
  width: 100%;
}

.library {
  max-width: 200px;
}

.game {
  max-width: 200px;
  perspective: 1000px;
  perspective-origin: center top;
  .gamewrapper {
    max-width: 200px;
    position: relative;
    overflow: hidden;
    transform-origin: 100% 0;
    box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
    border-radius: 2px;
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: rotateX(10deg);
      .gradient {
        height: 100%;
        opacity: 1;
      }
    }
  }

  .gradient {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: 1;
    transform: rotate(30deg);
    transform-origin: top right;
    width: 200%;
    height: 65%;
    opacity: 0.3;
    background: linear-gradient(
      0turn,
      transparent 0%,
      rgba(200, 200, 200, 0.4) 5%,
      rgba(255, 255, 255, 0.2) 15%,
      rgba(255, 255, 255, 0.1) 100%
    );
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
}

.DialogButton {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 0;
  font: inherit;
  overflow: visible;
  padding: 0;
  margin: 2px 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: block;
  line-height: 32px;
  color: #dfe3e6;
  font-size: 14px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  width: 100%;
  transition: all .2s ease-out;
  position: relative;
  background: linear-gradient(to right, #8ac329 0%, #4a7a16 60%);
  background-position: 25%;
  background-size: 330% 100%;
  &:hover {
    background: linear-gradient(to right, #8ac329 0%, #4a7a16 60%);
    background-position: 0%;
    background-size: 330% 100%;
    color: #fff
  }
  &:active:hover{
    background: linear-gradient(to right, #8ac329 0%, #4a7a16 60%);
    background-position: 40%;
    transition-duration: .04s
  }
}
