.center-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card {
  height: 50vh;

  display: flex;
  justify-content: center;
  align-items: center;

}

.example-card {
  max-width: 400px;
}