<app-grid-loader fxLayoutAlign="center" *ngIf="loader"></app-grid-loader>
<div gdGap="10px" gdColumns="repeat(auto-fill, minmax(200px, 1fr))">

  <mat-card *ngFor="let game of sameGames">
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>{{game.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayoutAlign="center">
      <img mat-card-image src="{{game.imgLogoUrl}}" alt="Game image">
      <p>{{game.playtimeForever}}</p>
    </mat-card-content>
    <mat-card-actions>
      <a fxLayoutAlign="right" href="steam://run/{{game.appid}}" mat-button>Play</a>
    </mat-card-actions>
  </mat-card>
</div>
